<<<<<<< Updated upstream
=======
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Helvetica Neue";
}

header {
    background-color: #0A22F4;
    height: 308px;
    width: 100%;
    padding: 50px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1185px;
    margin: 0 auto;
}

header h2 {
    color: #ffffff;
    display: inline-block;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #ffffff;
    opacity: 30%;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.white-dot {
    height: 10px;
    width: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.section-container {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
}

.section-container-1 {
    display: inline-block;
    position: relative;
}

.section-container-2 {
    display: inline-block;
    position: relative;
}

.section-container-3 {
    display: inline-block;
    position: relative;
}

section img {
    width: 463px;
    height: 420px;
}

section p {
    font-size: 18px;
    color: #171717;
}

.absolute {
    position: absolute;
	bottom: 20px;
	background-color: #FFFFFF;
    height: 125px;
    z-index: 1;
}
>>>>>>> Stashed changes
