* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Helvetica Neue";
}

header {
    background-color: #0A22F4;
    height: 308px;
    width: 100%;
    padding: 50px;
    margin-bottom: -100px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1185px;
    margin: 0 auto;
}

header h2 {
    color: #ffffff;
    display: inline-block;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #ffffff;
    opacity: 30%;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.white-dot {
    height: 10px;
    width: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;

}

.section-container {
    max-width: 1475px;
    width: 100%;
    margin: 0 auto;
}

.section-container-1 {
    display: inline-block;
    position: relative;
    margin-right: 25px;
}

.section-container-2 {
    display: inline-block;
    position: relative;
    margin-right: 25px;
}

.section-container-3 {
    display: inline-block;
    position: relative;
}

section img {
    width: 463px;
    height: 420px;
}

section p {
    font-size: 18px;
    color: #171717;
    font-weight: bold;
    text-align: center;
}

#m {
    color: #ffffff;
}

.absolute {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: #FFFFFF 0% 0%;
    border-radius: 12px;
    height: 125px;
    width: 443px;
    backdrop-filter: blur(20px);
}

.section-others {
    margin-top: 50px;
    margin-left: 1300px;
}

.section-others span {
    display: inline;
}

.section-others a {
    display: inline;
    text-decoration: none;
    color: #171717;
    font-weight: bold;
}